---
# Main css file
---

// Sass Modules

// Import normalize.css
@import base/reset

// Important functions to be used in other files.
@import utilities/functions

// Import core components.
@import base/color
@import base/variables
@import base/mixins

// Override global-width
$global-width: 96.5rem

// Import all components.
@import base/base
@import base/grid
@import base/images
@import base/spacing
@import base/typography
@import components/blockquote
@import components/button
@import components/card
@import components/code
@import components/footer
@import components/form
@import components/header
@import components/hero
@import components/dropdown
@import components/link
@import components/list
@import components/media
@import components/menu
@import components/switches
@import components/table
@import components/tabs
@import components/titles
@import components/tooltips
@import utilities/utility
@import utilities/divider

// Custom styles
@media (min-width: 40rem)
  .row
    flex-direction: row
    margin-left: -1rem
    width: calc(100% + 2rem)
    .col
      margin-bottom: inherit
      padding: 0 2rem
.card
  margin-bottom: 4rem
