---
layout: default
permalink: /error
---
<section class="hero hero-fh red">
  {% include navigation.html %}
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Oops!
      </h1>
      <h2 class="subtitle description">
        There was an error while trying to process your order. Please try again.
      </h2>
      <p class="hero-button">
        <a href="#!" class="btn btn-outline">View Article</a>
      </p>
    </div>
  </div>
</section>
