---
layout: default
---
<section class="hero hero-md">
  {% include navigation.html %}
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        {{ site.title }}
      </h1>
      <h2 class="subtitle description">
        Learn how to integrate Stripe into a Jekyll website
      </h2>
      <p class="hero-button">
        <a href="#!" class="btn">View Article</a>
      </p>
    </div>
  </div>
</section>


<section class="container docs-section">
  <h1 class="title">Demonstration</h1>
  <p>Using the steps outlined in our <a href="#!" title="Read more">article</a> you will be able to achieve full integration with Stripe as shown below.</p>
  <hr>
  <div class="row row-wrap">
    {% for product in site.products %}
      {% include item.html %}
    {% endfor %}
  </div>
</section>

<section class="container docs-section" id="contributing">
  <h1 class="title">Contributing</h1>
  <p>Want to contribute? Follow these <a href="https://github.com/impria/ghast/blob/master/contributing.md" title="Contributing">recommendations</a>.</p>
</section>
