---
layout: default
permalink: /success
---
<section class="hero hero-fh green">
  {% include navigation.html %}
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Success!
      </h1>
      <h2 class="subtitle description">
        Your order was processed successfully. Thank you!
      </h2>
      <p class="hero-button">
        <a href="#!" class="btn btn-outline">View Article</a>
      </p>
    </div>
  </div>
</section>
