<footer class="footer">
  <div class="container">
    <div class="content text-center">
      <p>
        <small>Made with ♥ in Montreal. Licensed under the <a target="blank" href="https://gitlab.com/afterlife/jekyll-stripe-template/blob/master/LICENSE" title="MIT License">MIT License</a>.</small>
      </p>
    </div>
  </div>
</footer>
