<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Marc Boisvert">
  <meta name="description" content="How to integrate Stripe into a Jekyll website.">
  <title>{{ site.title | escape }}</title>
  <link rel="canonical" href="{{ site.url }}">
  <meta name="msapplication-TileColor" content="#000000">
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

  <style>
    #stripe {
      display: flex;
      flex: 1;
      padding: 0;
      margin: 0;
    }
    .stripe-button-el {
      align-items: center !important;
      display: flex !important;
      flex: 1 !important;
      justify-content: center !important;
      padding: 0!important;
      margin: 0 !important;
      background: inherit !important;
      font-size: 1.1rem !important;
      font-weight: 700 !important;
      height: 3.8rem !important;
      letter-spacing: .1rem !important;
      line-height: 3.8rem !important;
      padding: 0 3rem !important;
      text-align: center !important;
      text-decoration: none !important;
      text-transform: uppercase !important;
    }
    .stripe-button-el span {
      background: inherit !important;
      padding: 0 !important;
      color: inherit !important;
      font-size: 1.1rem !important;
      font-weight: 700 !important;
      text-shadow: none !important;
    }
    img {
    max-width: 100%;
    }
    .docs-section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .footer .container {
    padding-bottom: 0;
    padding-top: 0;
    }
    @media (min-width: 40.0rem) {
    .only-mobile {
      display: none;
    }
    }
    /* GitHub Theme */
    pre.prettyprint {
      overflow: auto;
      border: none !important;
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
      -webkit-font-smoothing: antialiased;
    }

    .pln {
      color: #333333;
    }

    @media screen {
      .str {
        color: #dd1144;
      }

      .kwd {
        color: #333333;
      }

      .com {
        color: #999988;
      }

      .typ {
        color: #445588;
      }

      .lit {
        color: #445588;
      }

      .pun {
        color: #333333;
      }

      .opn {
        color: #333333;
      }

      .clo {
        color: #333333;
      }

      .tag {
        color: navy;
      }

      .atn {
        color: teal;
      }

      .atv {
        color: #dd1144;
      }

      .dec {
        color: #333333;
      }

      .var {
        color: teal;
      }

      .fun {
        color: #990000;
      }
    }
    @media print, projection {
      .str {
        color: #006600;
      }

      .kwd {
        color: #006;
        font-weight: bold;
      }

      .com {
        color: #600;
        font-style: italic;
      }

      .typ {
        color: #404;
        font-weight: bold;
      }

      .lit {
        color: #004444;
      }

      .pun, .opn, .clo {
        color: #444400;
      }

      .tag {
        color: #006;
        font-weight: bold;
      }

      .atn {
        color: #440044;
      }

      .atv {
        color: #006600;
      }
    }
    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
      margin-top: 0;
      margin-bottom: 0;
    }

    /* IE indents via margin-left */
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
      /* */
    }

    /* Alternate shading for lines */
    li.L1,
    li.L3,
    li.L5,
    li.L7,
    li.L9 {
      /* */
    }

    .prettyprint li {
      margin-bottom: .3rem;
    }
</style>
</head>
