<div class="col col-33 col-sm">
  <div class="card">
    <div class="card-image">
      <figure class="image square"><img src="{{ product.img_url }}" alt=""></figure>
    </div>
    <div class="card-content">
     <div class="media">
       <div class="media-content">
         <p class="title s-5">{{ product.name }}</p>
         <p class="subtitle s-6">${{ product.price }}</p>
       </div>
     </div>
     <div class="content">
       {{ product.description | truncate: 50 }}
     </div>
   </div>
   <footer class="card-footer">
     <form id="stripe" action="{{ site.post_url }}" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ site.public_key }}"
        data-amount="{{ product.price | remove: '.' }}"
        data-name="{{ product.name }}"
        data-description="{{ product.description }}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="cad">
      </script>
      <input name="amount" value="{{ product.price | remove: '.' }}" type="hidden">
      <input name="description" value="{{ product.description }}" type="hidden">
    </form>
   </footer>
  </div>
</div>
