<header class="header">
  <div class="container">
    <div class="header-left">
      <span class="header-item">
        <a href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-chevron-left"></i>&nbsp;Back to the Article</a>
      </span>
      <span class="header-item">
          <div class="dropdown">
            <a href="#!">Documentation</a>
            <ul id="myDropdown" class="dropdown-content">
              <li>
                <a href="https://stripe.com/docs" title="Visit Stripe documentation">Stripe Docs</a>
              </li>
              <li>
                <a href="https://jekyllrb.com/docs/home/" title="Visit Jekyll documentation">Jekyll Docs</a>
              </li>
              <li>
                <a href="https://ghast.xyz/" title="Visit Ghast documentation">Ghast Docs</a>
              </li>
            </ul>
          </div>
      </span>
    </div>
    <div class="header-right">
      <span class="header-item">
        <a href="https://gitlab.com/afterlife/jekyll-stripe-template" class="btn btn-outline" title="View source on Gitlab.com">Source</a>
      </span>
    </div>
  </div>
</header>
